
.bg {
    padding: 3%;
}

.bg-sub {
	background-color: #f3f3f3;
    padding-bottom: 20%;
}

.bg-gray-pattern {
    background-image: url(/IMG/bg-Gray-2-untouched.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 3%;
}


.bg-gray {
    background-color: #fafafa; 
    padding: 2%;
}

.bg-darkSlateBlue {
    background-color: #62809d; 
    padding: 2%;
}

.bg-gold {
    background-color: #a2831e;
    padding: 2%;
}

.bg-darkBlue {
    background-color:  #244e79;
    padding: 2%;
}

.bg-darkNavy {
    background-color:  #0c1c2c;
    padding: 2%;
}
 


.bg-img-1 {
    background-image: url(/IMG/Stock/B/puget-sound-recovery-inpatient-addiction-treatment-Woman-Walking-B.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 2%;
}

.bg-img-1-fixed {
    background-image: url();
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    padding: 2%;
}

.bg-img-2 {
    background-image: url(/IMG/Stock/B/Modal-Session-Hands-2.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position:top center;
    padding: 2%;
    
}

.bg-img-3 {
    background-image: url(/IMG/Stock/A/Freedom-6-BG.jpg);
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position:top center;
    padding: 2%;
    
}


.bg-img-4 {
    background-image: url(/IMG/Stock/A/Spokane-Heights-Detox-Woman-Walking.jpg);
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position:bottom;
    height: 500px;
    padding: 5%;
    
}

.bg-img-5 {
    background-image: url(/IMG/Stock/A/spokane-heights-detox-Session-Hands-A.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position:center;
    padding: 3%;
}

.bg-img-6 {
    background-image: url(/IMG/Stock/A/Spokane-Heights-Detox-Woman-Smiling-2-A-BG.jpg);
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position:center;
    padding: 6%;
    
}


.bg-img-7 {
    background-image: url('/IMG/Stock/A/Palm_Trees-A-BGEdit.jpg');
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position:right;
    padding: 3%;
}

.bg-img-7-fixed {
    background-image: url('/IMG/Stock/A/Palm_Trees-A-BGEdit.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position:right;
    padding: 3%;
}

.bg-img-8 {
    background-image: url(/IMG/Stock/A/Session-Hands-2-A.jpg);
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position:right;
    padding: 3%;
}

.bg-img-9 {
    background-image: url(/IMG/Stock/A/Session-Hands-2-A-BG-Edit.jpg);
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: right;
    padding: 3%;
}

.bg-img-10 {
    background-image: url(/IMG/Stock/A/Royal-Life-Centers-Young-Man-Thinking.jpg);
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: right;
    padding: 3%;
}

.bg-img-food {
    background-image: url(/IMG/Stock/B/nutritious-meal-B-edit.jpg);
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position:right;
    padding: 3%;
}

.bg-img-11 {
	background-image: url(/IMG/Stock/A/Freedom-Beach-BG.jpg);
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: right;
    padding: 3%;
}

.bg-img-11-fixed {
	background-image: url(/IMG/Stock/A/Freedom-Beach-BG.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: right;
    padding: 3%;
}
