$darkNavy: #192a3b;
$deadGray:  #262c31;
$secondaryBlue: #2d5078;
$lightSlateGray: #92abc4;
$lightSnowGray: #9cb6d0;
$rlc-gold: rgb(211, 171, 35);

$rlc-gold-dark: #b5931e;


$clear: rgba(255, 255, 255, 0);

$default-text-color: $darkNavy !default;

	/*Font Families*/
$head-font: 'Quattrocento', serif;
$body-font: 'Quattrocento Sans', sans-serif;